/* CSS declarations go here */
html {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    padding: 0px !important;
}

#navbar {
    background-color: black;
    height: 60px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 3em;
    color: white;
}
#songList{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


.nowPlaying{
    background-color: red;
}

.current,
.leader {
    font-size: 1.5em;
    font-style: italic;
}

.currentSong {
    margin-bottom: 1.5em;
}

.leaderSong {
    margin-top: 1.5em;
}

.votes {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

button {
    width: 100px;
}

.track {
    font-size: 1.4em;
    text-align: left;
    display: inline-block;
    width: 350px;
    margin-top: 40px;
}
.count {
    font-size: 3em;
    display: inline-block;
    width: 50px;
    vertical-align: top;
    margin-right: 20px;
    line-height: 120px;
}

.upvote, .downvote {
    font-size: 3em;
    width: 100px;
    padding: 10px;
}

.upvote:hover,
.downvote:hover {
    cursor: pointer;
}

.song {
    border-bottom: 2px solid black;
    height: 130px;
}

.container {
    width: 600px;
    padding: 10px;
    height: 95%;
}

/*.left-content {
    width: 15%;
    float: left;
}

.right-content {
    margin-left: 35%;
}*/

.artist {
    font-weight: bold;
}

.title {
    font-style: italic;
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

a#meteormash {
    font-size: 2.5em;
    color: white;
}

#footer {
    background-color: black;
    height: 5%;
    margin-top: 1.5em;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: white;
}