/* CSS declarations go here */
html {
    font-family: 'Open Sans', sans-serif !important;
}

#songList{
	height: 516px;
	overflow-y: auto;
	overflow-x: hidden;
}

.nowPlaying{
	background-color: red;
}

.current,
.leader {
    font-size: 1.5em;
    font-weight: bold;
}

.currentSong {
    padding-bottom: 2em;
}


/*container-fluid .navbar-brand .navbar-header .collapse{
	display: inline;
	display: inline-block!important;
	margin-right: 0;
	padding-right: 0;
	list-style:none;
}*/

	.navbar > .container .navbar{
	    /*text-align: center;*/
	}
	.navbar-header .navbar .navbar-nav,.navbar .navbar-nav #text> li {
	    float: none;
	    display: inline-block;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	    float: none;
	    display: block!important;
	    margin: auto;
	    width: 200px;
	    clear: none;
	    
	    margin-bottom: -20px;
	    font-family: 'Open Sans', sans-serif !important;
	    font-weight: bold;
	    font-size:20px;

	}
	a {
		font-family: 'Open Sans', sans-serif !important;
		padding-top: 60px;
		padding-bottom: 60px;
	}
#text {
	float: center;
}
.votes {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

button {
    width: 100px;
}

.track {
    font-size: 1.4em;
    text-align: left;
    display: inline-block;
    width: 400px;
    vertical-align: top;
    padding: 0px 10px;
}
.count {
    font-size: 2em;
    display: inline-block;
    width: 50px;
    vertical-align: top;
    padding-top: 15px;
}

.upvote, .downvote {
    font-size: 1.5em;

}

.upvote:hover,
.downvote:hover {
    cursor: pointer;
}

.upvote {
    margin-bottom: 10px;
}

.song {
    border-bottom: 2px solid black;
}

.container {
    width: 600px;
    margin: auto;
}

.artist {
    font-weight: bold;
}

.title {
    font-style: italic;

}