/* CSS declarations go here */
html {
    font-family: 'Open Sans', sans-serif !important;
}

#songList{
	height: 516px;
	overflow-y: auto;
	overflow-x: hidden;
}

.nowPlaying{
	background-color: red;
}

.current,
.leader {
    font-size: 1.4em;
    font-style: italic;
}

.currentSong {
    padding-bottom: 2em;
}

.votes {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

button {
    width: 100px;
}

.track {
    font-size: 1.4em;
    text-align: left;
    display: inline-block;
    width: 400px;
    vertical-align: middle;
    padding: 0px 10px;
}
.count {
    font-size: 2em;
    display: inline-block;
    width: 50px;
    vertical-align: top;
    padding-top: 15px;
}

.upvote, .downvote {
    font-size: 1.5em;

}

.upvote:hover,
.downvote:hover {
    cursor: pointer;
}

.upvote {
    margin-bottom: 10px;
}

.song {
    border-bottom: 2px solid black;
}

.container {
    width: 600px;
    margin: auto;
}

.artist {
    font-weight: bold;
}

.title {
    font-style: italic;
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

a#meteormash {
    font-size: 2.5em;
    color: white;
}