/* CSS declarations go here */
html {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    padding: 0px !important;
    background-color: black;
    width: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

#navbar {
/*    background-color: black;*/
    height: 60px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 2.5em;
    width: 100%;
    color: white;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #000000 50%, #0f0f0f 66%, #0a0a0a 84%, #000000 100%, #1c1c1c 100%, #2c2c2c 100%, #1c1c1c 100%, #2b2b2b 100%, #000000 101%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#000000), color-stop(66%,#0f0f0f), color-stop(84%,#0a0a0a), color-stop(100%,#000000), color-stop(100%,#1c1c1c), color-stop(100%,#2c2c2c), color-stop(100%,#1c1c1c), color-stop(100%,#2b2b2b), color-stop(101%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#000000 50%,#0f0f0f 66%,#0a0a0a 84%,#000000 100%,#1c1c1c 100%,#2c2c2c 100%,#1c1c1c 100%,#2b2b2b 100%,#000000 101%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#000000 50%,#0f0f0f 66%,#0a0a0a 84%,#000000 100%,#1c1c1c 100%,#2c2c2c 100%,#1c1c1c 100%,#2b2b2b 100%,#000000 101%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#000000 50%,#0f0f0f 66%,#0a0a0a 84%,#000000 100%,#1c1c1c 100%,#2c2c2c 100%,#1c1c1c 100%,#2b2b2b 100%,#000000 101%); /* IE10+ */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#000000 50%,#0f0f0f 66%,#0a0a0a 84%,#000000 100%,#1c1c1c 100%,#2c2c2c 100%,#1c1c1c 100%,#2b2b2b 100%,#000000 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
#songList{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}


.nowPlaying{
    background-color: red;
}

.currentTrack {
    font-size: 2.5em;
    color: white;
    padding: 10px;

}

@media only screen and (min-width: 1000px) {
    .currentTrack {
        font-size: 1.4em;
    }
}

.currentArtist {
    font-size: 2em;
    color: #9D9D9D;
    margin: 10px;
}

@media only screen and (min-width: 1000px) {
    .currentArtist {
        font-size: 1.2em;
    }
}

.currentSong {
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    .currentSong {
        width: 50%;
    }
}

.header {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 10px 10px;
    color: #656565;
}

@media only screen and (min-width: 1000px) {
    .header {
        font-size: 1em;
    }
}

.leaderHeader {
    display: inline-block;
    float: left;
    width: 30%;

}

.leaderSection {
    display: inline-block;
    width: 70%;
}

.leaderSong {
    text-align: left;
    background-color: #262626;
}

button {
    width: 40px !important;
    height: 40px !important;
    border-radius: 15%;
    vertical-align: middle;
    background-color: gray;
    font-family: 'Open Sans', sans-serif !important;
    text-align: center;
    -webkit-appearance: none;
    margin: 0px;
}

@media only screen and (min-width: 1000px) {
    button {
        margin: 0px;
    }
}

.buttonSection {
    float: right;
    margin-right: 10px;
}

.track {
    font-size: 2em;
    text-align: left;
    display: inline-block;
    width: 49%;
}

@media only screen and (min-width: 1000px) {
    .track {
        width: 68%;
        font-size: 1.4em;
    }
}
.count {
    width: 60px !important;
    height: 40px !important;
    background: purple;
    display: inline-block;
    font-size: 2.1em;
    border-radius: 15%;
    color: white;
    vertical-align: middle;
    text-align: right;

}

@media only screen and (min-width: 1000px) {
    .count {
        padding: 0px;
    }
}



.upvote, .downvote {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
}



.upvote:hover,
.downvote:hover {
    cursor: pointer;
}

.song {
    border-bottom: 1px solid #191919;
    border-top: 1px solid #555555;
    width: 100%;
    margin: 0px !important;
    padding: 10px;
    background-color: #262626;
}

@media only screen and (min-width: 1000px) {
    .song {
        width: 50%;
    }
}

.container {
    width: 100%;
    padding: 0px !important;
    height: 95%;
}

@media only screen and (min-width: 1000px) {
    .container {
        margin: 0px 25% 0px 25%;
    }
}

/*.left-content {
    width: 15%;
    float: left;
}

.right-content {
    margin-left: 35%;
}*/

.artist {
    font-size: .7em;
    color: #656565;
}

.title {
    font-size: .7em;
    color: white;
}

a#meteormash {
    font-size: 2.5em;
    color: white;
}

#footer {
    background-color: black;
    height: 5%;
    margin-top: 1.5em;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    color: white;
}