#noSongs {
  text-align: center;
}

body {
  padding-top: 60px;
}

.playingNow {
  background-color: red;
  border: 3px solid black;
  margin-top: 40px;
}

.playingNext {
  margin-top: 20px;
  background-color: yellow;
}

.song {
  margin: 10px;
}
